name: Build

on:
  pull_request:
    branches:
      - 'main'

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - '1.22'

    name: Build ${{ matrix.go-version }}
    runs-on: ubuntu-latest

    steps:
      - uses: chainguard-dev/setup-chainctl@main
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - uses: golang/govulncheck-action@dd0578b371c987f96d1185abb54344b44352bd58 # v1
        with:
          go-version-input: ${{ matrix.go-version }}

      - run: |
          go build ./...
          go test -run=^$ ./...
