name: Build

on:
  pull_request:
    branches: ['main']

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.19', '1.20']
    name: Build ${{ matrix.go-version }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - uses: golang/govulncheck-action@dd3ead030e4f2cf713062f7a3395191802364e13 # v1

      - run: |
          go build ./...
          go test -run=^$ ./...
