name: Integration Test

on:
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    name: Module Tests
    strategy:
      matrix:
        go-version:
          - '1.22'
          - '1.23'

    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - env:
          GOPATH: does not matter
        run: ./integration_test.sh
