name: Integration Test

on:
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    name: Module Tests
    strategy:
      matrix:
        go-version:
          - '1.21'
          - '1.22'

    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - env:
          GOPATH: does not matter
        run: ./integration_test.sh
