name: Integration Test

on:
  pull_request:
    branches: ['main']

jobs:
  test:
    name: Module Tests
    strategy:
      matrix:
        go-version: [1.16.x, 1.17.x]
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v2

      - env:
          GOPATH: does not matter
        run: ./integration_test.sh
