name: Integration Test

on:
  pull_request:
    branches: ['main']

jobs:
  test:
    name: Module Tests
    strategy:
      matrix:
        go-version: [1.18, 1.19]

    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - uses: actions/checkout@v3

      - env:
          GOPATH: does not matter
        run: ./integration_test.sh
